In [14]:
import numpy as np
import pandas as pd

In [15]:
s0 = pd.read_csv('station00.csv')
s1 = pd.read_csv('station01.csv')
s2 = pd.read_csv('station02.csv')
s3 = pd.read_csv('station03.csv')
s4 = pd.read_csv('station04.csv')
s5 = pd.read_csv('station05.csv')
s6 = pd.read_csv('station06.csv')
s7 = pd.read_csv('station07.csv')
s8 = pd.read_csv('station08.csv')
s9 = pd.read_csv('station09.csv')

In [16]:
import pandas as pd

# Read and tag each station with station_id
dfs = []
for i in range(10):
    df = pd.read_csv(f'station0{i}.csv')
    df['station_id'] = f'station_{i}'  # or just i if you prefer integer ID
    dfs.append(df)

# Now safely concatenate with station_id included
qhr_df = pd.concat(dfs, ignore_index=True)

# Optional: check result
print(qhr_df[['station_id']].drop_duplicates())

       station_id
0       station_0
28896   station_1
62304   station_2
92736   station_3
107424  station_4
140832  station_5
150528  station_6
181632  station_7
214560  station_8
247680  station_9

In [17]:
qhr_df.sample(5)

,date_time,nwp_globalirrad,nwp_directirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_winddirection,nwp_pressure,lmd_totalirrad,lmd_diffuseirrad,lmd_temperature,lmd_pressure,lmd_winddirection,lmd_windspeed,power,station_id
45973,2018-12-25 13:15:00,0.00,0.00,-1.66,67.53,3.55,57.53,1030.69,0.0,0.0,-1.8,1031.199951,322.299988,0.1,0.000000,station_1
244480,2019-05-11 08:00:00,572.92,527.12,26.80,25.54,5.11,149.96,949.87,291.0,137.0,24.6,948.400024,171.000000,2.9,4.438087,station_8
105114,2019-05-20 14:30:00,0.00,0.00,16.44,20.47,4.26,269.96,979.05,0.0,0.0,22.9,977.299988,88.000000,0.9,0.000000,station_3
240397,2019-03-29 19:15:00,0.00,0.00,3.52,20.63,1.91,285.39,960.78,0.0,0.0,7.2,958.700012,348.000000,1.7,0.000000,station_8
227606,2018-11-16 13:30:00,0.00,0.00,2.37,50.47,2.77,278.74,967.83,0.0,0.0,3.8,966.599976,227.000000,1.1,0.000000,station_8

In [18]:
features_to_keep = [
    'date_time',
    'nwp_globalirrad',
    'nwp_temperature',
    'nwp_humidity',
    'nwp_windspeed',
    'nwp_pressure',
    'station_id',
    'power'
]
df_15min = qhr_df[features_to_keep]

In [19]:
df_15min.sample(5)

,date_time,nwp_globalirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_pressure,station_id,power
76950,2018-12-22 05:30:00,212.89,8.25,17.00,2.98,994.33,station_2,2.865660
9519,2018-11-22 19:45:00,0.00,-3.52,45.62,2.83,1017.26,station_0,0.000000
105727,2019-05-26 23:45:00,436.22,19.79,29.70,6.18,986.17,station_3,5.370715
240702,2019-04-01 23:30:00,199.35,9.67,44.78,3.45,958.76,station_8,2.134004
29257,2018-07-04 10:15:00,167.20,35.39,36.35,4.63,995.25,station_1,1.420779

In [20]:
df_15min.tail(20)

,date_time,nwp_globalirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_pressure,station_id,power
271948,2019-06-13 11:00:00,79.36,31.31,40.22,5.71,997.89,station_9,0.344058
271949,2019-06-13 11:15:00,38.66,30.84,41.57,5.37,998.09,station_9,0.280699
271950,2019-06-13 11:30:00,15.99,30.33,42.89,5.06,998.31,station_9,0.087038
271951,2019-06-13 11:45:00,0.00,29.81,44.03,4.82,998.55,station_9,0.000000
271952,2019-06-13 12:00:00,0.00,29.36,45.14,4.62,998.78,station_9,0.000000
271953,2019-06-13 12:15:00,0.00,28.94,46.32,4.39,998.99,station_9,0.000000
271954,2019-06-13 12:30:00,0.00,28.53,47.61,4.13,999.15,station_9,0.000000
271955,2019-06-13 12:45:00,0.00,28.11,49.01,3.87,999.32,station_9,0.000000
271956,2019-06-13 13:00:00,0.00,27.72,50.44,3.65,999.50,station_9,0.000000
271957,2019-06-13 13:15:00,0.00,27.34,51.91,3.49,999.66,station_9,0.000000
271958,2019-06-13 13:30:00,0.00,26.99,53.34,3.35,999.72,station_9,0.000000
271959,2019-06-13 13:45:00,0.00,26.67,54.71,3.23,999.65,station_9,0.000000
271960,2019-06-13 14:00:00,0.00,26.37,56.01,3.13,999.62,station_9,0.000000
271961,2019-06-13 14:15:00,0.00,26.11,57.19,3.05,999.65,station_9,0.000000
271962,2019-06-13 14:30:00,0.00,25.86,58.31,2.98,999.72,station_9,0.000000
271963,2019-06-13 14:45:00,0.00,25.60,59.45,2.92,999.82,station_9,0.000000
271964,2019-06-13 15:00:00,0.00,25.35,60.53,2.90,999.92,station_9,0.000000
271965,2019-06-13 15:15:00,0.00,25.11,61.55,2.95,1000.01,station_9,0.000000
271966,2019-06-13 15:30:00,0.00,24.88,62.46,3.03,1000.12,station_9,0.000000
271967,2019-06-13 15:45:00,0.00,24.63,63.41,3.11,1000.21,station_9,0.000000

In [21]:
df_15min.describe()

,nwp_globalirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_pressure,power
count,271968.000000,271968.000000,271968.000000,271968.000000,271968.000000,271968.000000
mean,167.131521,11.879423,43.707950,3.966932,976.258962,2.802003
std,245.452244,11.077684,22.532668,2.337732,43.809639,4.877402
min,0.000000,-19.780000,4.640000,0.050000,869.750000,0.000000
25%,0.000000,3.010000,26.040000,2.380000,948.320000,0.000000
50%,0.000000,11.610000,38.610000,3.460000,989.530000,0.000000
75%,297.340000,20.720000,58.030000,5.020000,1010.280000,3.686586
max,964.060000,41.090000,100.000000,19.660000,1044.790000,35.118130

In [22]:
import pandas as pd

# Ensure timestamp column is datetime type
df_15min['timestamp'] = pd.to_datetime(df_15min['date_time'])

# Keep only required columns + station_id
columns_to_keep = ['timestamp', 'station_id', 'nwp_globalirrad', 'nwp_temperature', 'nwp_humidity', 'nwp_windspeed', 'nwp_pressure','power']
df_filtered = df_15min[columns_to_keep]

# Create a date column (no time)
df_filtered['date'] = df_filtered['timestamp'].dt.date

# Aggregate by day AND station
daily_df = df_filtered.groupby(['station_id', 'date']).agg({
    'nwp_globalirrad': lambda x: (x * 0.25).sum() / 1000,
    'nwp_temperature': 'mean',
    'nwp_humidity': 'mean',
    'nwp_windspeed': 'mean',
    'nwp_pressure': 'mean',
    'power': 'mean'
}).reset_index()

# Convert summed irradiance (W/m²) to kWh/m²/day
daily_df['daily_globalirrad_kwh'] = daily_df['nwp_globalirrad']

# Drop raw sum column if you don't want both
daily_df.drop(columns='nwp_globalirrad', inplace=True)

# Rename columns clearly
daily_df.rename(columns={
    'nwp_temperature': 'daily_temperature_mean',
    'nwp_humidity': 'daily_humidity_mean',
    'nwp_windspeed': 'daily_windspeed_mean',
    'nwp_pressure': 'daily_pressure_mean',
    'power': 'daily_power_generated'
}, inplace=True)

# === NOW: Compute station max power and merge ===
station_max_power = daily_df.groupby('station_id')['daily_power_generated'].max().reset_index()
station_max_power.rename(columns={'daily_power_generated': 'station_max_power'}, inplace=True)

# Merge max power into main df
daily_df = daily_df.merge(station_max_power, on='station_id', how='left')

# Optional: check result
daily_df.head()

C:\Users\mancr\AppData\Local\Temp\ipykernel_5560\798299007.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_15min['timestamp'] = pd.to_datetime(df_15min['date_time'])

,station_id,date,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_power_generated,daily_globalirrad_kwh,station_max_power
0,station_0,2018-08-15,23.557188,81.192813,6.393750,1007.089375,0.018677,0.007642,1.677759
1,station_0,2018-08-16,23.185312,82.181875,4.157812,1008.030938,0.613550,1.260092,1.677759
2,station_0,2018-08-17,25.045104,75.701771,2.551354,1005.383646,1.311072,4.195482,1.677759
3,station_0,2018-08-18,24.366250,81.133854,3.657396,1003.763437,0.555322,1.353863,1.677759
4,station_0,2018-08-19,22.170417,95.982917,5.958333,1000.471146,0.316260,0.325893,1.677759

In [23]:
daily_df.sample(5)

,station_id,date,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_power_generated,daily_globalirrad_kwh,station_max_power
63,station_0,2018-10-17,11.862812,58.987083,2.245417,1019.478646,0.633655,4.023817,1.677759
1604,station_6,2018-08-08,28.326562,86.851979,4.265000,992.294583,2.200656,2.287315,4.121813
2806,station_9,2019-04-22,20.151563,67.918229,4.002083,1002.924271,1.579267,6.373625,3.797317
1027,station_3,2019-03-06,5.727083,23.152396,4.635104,995.696250,4.992420,5.130190,5.512649
1957,station_7,2018-08-18,22.447187,75.386250,7.672500,932.349479,1.345012,1.562883,5.755677

In [24]:
daily_df['daily_globalirrad_kwh'].mean()

3.9760694099895035

In [25]:
daily_df['daily_globalirrad_kwh'].describe()

count    2858.000000
mean        3.976069
std         1.962560
min         0.000422
25%         2.681666
50%         3.605498
75%         5.477499
max         8.207228
Name: daily_globalirrad_kwh, dtype: float64

In [26]:
daily_df['percentage_generated'] = daily_df['daily_power_generated'] / daily_df['station_max_power']

In [27]:
daily_df.sample(10)

,station_id,date,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_power_generated,daily_globalirrad_kwh,station_max_power,percentage_generated
1518,station_5,2019-04-15,18.624792,36.826042,3.765313,986.850417,8.988569,5.759962,10.502804,0.855826
2521,station_8,2019-03-27,14.650000,22.855729,5.418542,954.191667,2.761721,2.246625,5.294833,0.521588
1493,station_5,2019-03-21,7.097500,24.122187,2.625000,1000.897708,8.633606,5.856125,10.502804,0.822029
1794,station_6,2019-02-20,4.678021,47.073750,2.215417,1014.950000,0.227740,3.416767,4.121813,0.055252
2846,station_9,2019-06-01,27.584844,38.385625,5.000938,993.794375,3.797317,4.958865,3.797317,1.000000
2757,station_9,2019-03-02,8.656979,46.907083,3.470312,1010.146979,1.434400,4.699800,3.797317,0.377740
483,station_1,2018-12-27,-8.764896,26.360104,6.410417,1041.941979,1.223202,2.466580,15.126855,0.080863
1035,station_3,2019-03-14,9.938438,22.276146,5.452292,989.965000,5.002041,5.450812,5.512649,0.907375
1217,station_4,2018-09-28,10.192188,52.183542,5.930000,882.538229,5.458600,4.131470,8.180375,0.667280
2694,station_9,2018-12-28,-7.429063,27.025312,2.792813,1037.184583,1.261809,2.782375,3.797317,0.332290

In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score

# Example: assume your target column is named 'daily_power_generated'
# If your actual column name is different — replace here
target_column = 'percentage_generated'

# === 1. Feature / Target split ===
X = daily_df.drop(columns=['date','station_id','station_max_power','daily_power_generated', target_column])
y = daily_df[target_column]

# === 2. Train-test split ===
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# === 3. Scale features ===
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# === 4. Train RandomForest ===
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

# === 5. Evaluate ===
y_pred = model.predict(X_test_scaled)

mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error (MAE): {mae:.3f}')
print(f'R² Score: {r2:.3f}')

Mean Absolute Error (MAE): 0.097
R² Score: 0.739

In [29]:
import requests
import pandas as pd

def get_open_meteo_forecast(lat, lon):
    # Variables
    daily_vars = [
        "shortwave_radiation_sum",
        "temperature_2m_mean",
        "relative_humidity_2m_mean",
        "wind_speed_10m_mean"
    ]
    hourly_vars = ["surface_pressure"]

    # Build URLs
    daily_url = (
        f"https://api.open-meteo.com/v1/forecast?"
        f"latitude={lat}&longitude={lon}&daily={','.join(daily_vars)}"
        "&timezone=auto"
    )

    hourly_url = (
        f"https://api.open-meteo.com/v1/forecast?"
        f"latitude={lat}&longitude={lon}&hourly={','.join(hourly_vars)}"
        "&timezone=auto"
    )

    # Fetch daily + hourly data
    daily_response = requests.get(daily_url)
    hourly_response = requests.get(hourly_url)

    if daily_response.status_code != 200 or hourly_response.status_code != 200:
        print("API error or bad response")
        return None

    daily_data = daily_response.json()['daily']
    hourly_data = hourly_response.json()['hourly']

    # Create daily DataFrame
    daily_df = pd.DataFrame({
        'date': pd.to_datetime(daily_data['time']),
        "daily_globalirrad_kwh": [x / 3.6 for x in daily_data["shortwave_radiation_sum"]],   # Already kWh/m²/day
        'daily_temperature_mean': daily_data['temperature_2m_mean'],       # °C
        'daily_humidity_mean': daily_data['relative_humidity_2m_mean'],    # %
        'daily_windspeed_mean': daily_data['wind_speed_10m_mean']          # m/s
    })

    # Create hourly DataFrame
    hourly_df = pd.DataFrame({
        'timestamp': pd.to_datetime(hourly_data['time']),
        'surface_pressure': hourly_data['surface_pressure']  # hPa
    })

    # Extract date and aggregate pressure
    hourly_df['date'] = hourly_df['timestamp'].dt.date
    pressure_df = hourly_df.groupby('date')['surface_pressure'].mean().reset_index()
    pressure_df.rename(columns={'surface_pressure': 'daily_pressure_mean'}, inplace=True)

    # Merge daily_df + pressure_df
    daily_df['date'] = daily_df['date'].dt.date
    merged_df = pd.merge(daily_df, pressure_df, on='date', how='inner')

    # Drop date (not needed for model)
    merged_df.drop(columns='date', inplace=True)

    expected_cols = scaler.feature_names_in_

    merged_df = merged_df[expected_cols]

    return merged_df

# Example usage
lat = 30.0444
lon = 31.2357

forecast_df = get_open_meteo_forecast(lat, lon)
print(forecast_df.head())

   daily_temperature_mean  daily_humidity_mean  daily_windspeed_mean  \
0                    30.2                   51                   7.0
1                    30.1                   49                   7.4
2                    30.0                   50                   6.5
3                    30.5                   55                   8.1
4                    30.1                   47                   7.8

   daily_pressure_mean  daily_globalirrad_kwh
0          1001.512500               8.233333
1           999.954167               8.091667
2          1000.995833               8.136111
3          1003.587500               8.080556
4          1005.875000               8.108333

In [ ]:
lat = 30.033  # Cairo
lon = 31.233

api_df = get_open_meteo_forecast(lat, lon)

if api_df is not None:
    X_scaled = scaler.transform(api_df)
    prediction = model.predict(X_scaled)
    print("Predicted percentage:", prediction[0])

Predicted percentage: 0.5039886183018255

In [31]:
api_df.head()

,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_globalirrad_kwh
0,30.1,51,7.0,1000.937500,8.233333
1,30.1,49,7.4,999.370833,8.091667
2,29.9,50,6.5,1000.412500,8.136111
3,30.5,55,8.1,1003.008333,8.080556
4,30.1,47,7.8,1005.304167,8.108333