In [19]:
import numpy as np
import pandas as pd

In [20]:
s0 = pd.read_csv('station00.csv')
s1 = pd.read_csv('station01.csv')
s2 = pd.read_csv('station02.csv')
s3 = pd.read_csv('station03.csv')
s4 = pd.read_csv('station04.csv')
s5 = pd.read_csv('station05.csv')
s6 = pd.read_csv('station06.csv')
s7 = pd.read_csv('station07.csv')
s8 = pd.read_csv('station08.csv')
s9 = pd.read_csv('station09.csv')

In [21]:
import pandas as pd

# Read and tag each station with station_id
dfs = []
for i in range(10):
    df = pd.read_csv(f'station0{i}.csv')
    df['station_id'] = f'station_{i}'  # or just i if you prefer integer ID
    dfs.append(df)

# Now safely concatenate with station_id included
qhr_df = pd.concat(dfs, ignore_index=True)

# Optional: check result
print(qhr_df[['station_id']].drop_duplicates())

       station_id
0       station_0
28896   station_1
62304   station_2
92736   station_3
107424  station_4
140832  station_5
150528  station_6
181632  station_7
214560  station_8
247680  station_9

In [22]:
qhr_df.sample(5)

,date_time,nwp_globalirrad,nwp_directirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_winddirection,nwp_pressure,lmd_totalirrad,lmd_diffuseirrad,lmd_temperature,lmd_pressure,lmd_winddirection,lmd_windspeed,power,station_id
97631,2019-03-03 15:45:00,0.00,0.00,8.52,46.16,2.78,298.58,980.29,0.000000,0.000000,6.300000,978.500000,139.000000,0.000,0.000000,station_3
196848,2018-12-06 04:00:00,516.38,470.25,-0.18,17.62,7.64,318.58,952.17,524.000000,248.000000,1.300000,954.799988,18.000000,2.600,10.743520,station_7
54878,2019-03-28 07:30:00,120.92,16.62,8.00,32.75,8.67,77.89,1017.35,267.299988,245.600006,8.500000,1018.099976,150.399994,2.700,4.724089,station_1
106736,2019-06-06 12:00:00,0.00,0.00,19.96,80.43,2.21,10.10,976.00,0.000000,0.000000,20.700001,976.099976,156.000000,1.700,0.000000,station_3
138600,2019-05-21 10:00:00,234.19,203.28,21.62,20.72,6.09,322.64,877.49,108.000000,221.000000,23.500000,874.500000,220.216003,0.816,2.452800,station_4

In [23]:
features_to_keep = [
    'date_time',
    'nwp_globalirrad',
    'nwp_temperature',
    'nwp_humidity',
    'nwp_windspeed',
    'nwp_pressure',
    'station_id',
    'power'
]
df_15min = qhr_df[features_to_keep]

In [24]:
df_15min.sample(5)

,date_time,nwp_globalirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_pressure,station_id,power
206188,2019-03-18 11:00:00,0.00,15.06,30.11,3.49,932.45,station_7,0.000000
64550,2018-08-15 01:30:00,356.83,28.09,57.66,6.15,978.63,station_2,9.488009
173536,2019-03-19 08:00:00,292.62,24.83,26.53,11.53,990.44,station_6,3.916000
254759,2018-12-08 09:45:00,0.00,-4.83,14.86,3.51,1032.78,station_9,0.000000
201836,2019-01-27 03:00:00,153.00,6.00,39.38,2.35,944.95,station_7,1.051614

In [25]:
df_15min.tail(20)

,date_time,nwp_globalirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_pressure,station_id,power
271948,2019-06-13 11:00:00,79.36,31.31,40.22,5.71,997.89,station_9,0.344058
271949,2019-06-13 11:15:00,38.66,30.84,41.57,5.37,998.09,station_9,0.280699
271950,2019-06-13 11:30:00,15.99,30.33,42.89,5.06,998.31,station_9,0.087038
271951,2019-06-13 11:45:00,0.00,29.81,44.03,4.82,998.55,station_9,0.000000
271952,2019-06-13 12:00:00,0.00,29.36,45.14,4.62,998.78,station_9,0.000000
271953,2019-06-13 12:15:00,0.00,28.94,46.32,4.39,998.99,station_9,0.000000
271954,2019-06-13 12:30:00,0.00,28.53,47.61,4.13,999.15,station_9,0.000000
271955,2019-06-13 12:45:00,0.00,28.11,49.01,3.87,999.32,station_9,0.000000
271956,2019-06-13 13:00:00,0.00,27.72,50.44,3.65,999.50,station_9,0.000000
271957,2019-06-13 13:15:00,0.00,27.34,51.91,3.49,999.66,station_9,0.000000
271958,2019-06-13 13:30:00,0.00,26.99,53.34,3.35,999.72,station_9,0.000000
271959,2019-06-13 13:45:00,0.00,26.67,54.71,3.23,999.65,station_9,0.000000
271960,2019-06-13 14:00:00,0.00,26.37,56.01,3.13,999.62,station_9,0.000000
271961,2019-06-13 14:15:00,0.00,26.11,57.19,3.05,999.65,station_9,0.000000
271962,2019-06-13 14:30:00,0.00,25.86,58.31,2.98,999.72,station_9,0.000000
271963,2019-06-13 14:45:00,0.00,25.60,59.45,2.92,999.82,station_9,0.000000
271964,2019-06-13 15:00:00,0.00,25.35,60.53,2.90,999.92,station_9,0.000000
271965,2019-06-13 15:15:00,0.00,25.11,61.55,2.95,1000.01,station_9,0.000000
271966,2019-06-13 15:30:00,0.00,24.88,62.46,3.03,1000.12,station_9,0.000000
271967,2019-06-13 15:45:00,0.00,24.63,63.41,3.11,1000.21,station_9,0.000000

In [26]:
df_15min.describe()

,nwp_globalirrad,nwp_temperature,nwp_humidity,nwp_windspeed,nwp_pressure,power
count,271968.000000,271968.000000,271968.000000,271968.000000,271968.000000,271968.000000
mean,167.131521,11.879423,43.707950,3.966932,976.258962,2.802003
std,245.452244,11.077684,22.532668,2.337732,43.809639,4.877402
min,0.000000,-19.780000,4.640000,0.050000,869.750000,0.000000
25%,0.000000,3.010000,26.040000,2.380000,948.320000,0.000000
50%,0.000000,11.610000,38.610000,3.460000,989.530000,0.000000
75%,297.340000,20.720000,58.030000,5.020000,1010.280000,3.686586
max,964.060000,41.090000,100.000000,19.660000,1044.790000,35.118130

In [27]:
import pandas as pd

# Ensure timestamp column is datetime type
df_15min['timestamp'] = pd.to_datetime(df_15min['date_time'])

# Keep only required columns + station_id
columns_to_keep = ['timestamp', 'station_id', 'nwp_globalirrad', 'nwp_temperature', 'nwp_humidity', 'nwp_windspeed', 'nwp_pressure','power']
df_filtered = df_15min[columns_to_keep]

# Create a date column (no time)
df_filtered['date'] = df_filtered['timestamp'].dt.date

# Aggregate by day AND station
daily_df = df_filtered.groupby(['station_id', 'date']).agg({
    'nwp_globalirrad': lambda x: (x * 0.25).sum() / 1000,
    'nwp_temperature': 'mean',
    'nwp_humidity': 'mean',
    'nwp_windspeed': 'mean',
    'nwp_pressure': 'mean',
    'power': 'mean'
}).reset_index()

# Convert summed irradiance (W/m²) to kWh/m²/day
daily_df['daily_globalirrad_kwh'] = daily_df['nwp_globalirrad']

# Drop raw sum column if you don't want both
daily_df.drop(columns='nwp_globalirrad', inplace=True)

# Rename columns clearly
daily_df.rename(columns={
    'nwp_temperature': 'daily_temperature_mean',
    'nwp_humidity': 'daily_humidity_mean',
    'nwp_windspeed': 'daily_windspeed_mean',
    'nwp_pressure': 'daily_pressure_mean',
    'power': 'daily_power_generated'
}, inplace=True)

# === NOW: Compute station max power and merge ===
station_max_power = daily_df.groupby('station_id')['daily_power_generated'].max().reset_index()
station_max_power.rename(columns={'daily_power_generated': 'station_max_power'}, inplace=True)

# Merge max power into main df
daily_df = daily_df.merge(station_max_power, on='station_id', how='left')

# Optional: check result
daily_df.head()

/var/folders/_4/xy_n9j6n5mj2n59r5hmr6j9h0000gn/T/ipykernel_1309/798299007.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_15min['timestamp'] = pd.to_datetime(df_15min['date_time'])

,station_id,date,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_power_generated,daily_globalirrad_kwh,station_max_power
0,station_0,2018-08-15,23.557188,81.192813,6.393750,1007.089375,0.018677,0.007642,1.677759
1,station_0,2018-08-16,23.185312,82.181875,4.157812,1008.030938,0.613550,1.260092,1.677759
2,station_0,2018-08-17,25.045104,75.701771,2.551354,1005.383646,1.311072,4.195482,1.677759
3,station_0,2018-08-18,24.366250,81.133854,3.657396,1003.763437,0.555322,1.353863,1.677759
4,station_0,2018-08-19,22.170417,95.982917,5.958333,1000.471146,0.316260,0.325893,1.677759

In [28]:
daily_df.sample(5)

,station_id,date,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_power_generated,daily_globalirrad_kwh,station_max_power
1988,station_7,2018-09-18,19.292604,81.152708,1.830625,939.530625,0.340916,0.984945,5.755677
508,station_1,2019-01-21,0.297604,24.237500,3.377708,1023.009792,4.148378,3.309168,15.126855
2230,station_7,2019-05-22,25.195833,14.227292,4.597917,931.064167,4.777265,8.015825,5.755677
2009,station_7,2018-10-09,9.308021,27.129271,4.677083,944.399896,3.763102,5.020028,5.755677
1022,station_3,2019-03-01,8.275625,46.067292,3.374688,988.224167,2.752255,4.676237,5.512649

In [29]:
daily_df['daily_globalirrad_kwh'].mean()

np.float64(3.9760694099895035)

In [30]:
daily_df['daily_globalirrad_kwh'].describe()

count    2858.000000
mean        3.976069
std         1.962560
min         0.000422
25%         2.681666
50%         3.605498
75%         5.477499
max         8.207228
Name: daily_globalirrad_kwh, dtype: float64

In [31]:
daily_df['percentage_generated'] = daily_df['daily_power_generated'] / daily_df['station_max_power']

In [32]:
daily_df.sample(10)

,station_id,date,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_power_generated,daily_globalirrad_kwh,station_max_power,percentage_generated
2757,station_9,2019-03-02,8.656979,46.907083,3.470312,1010.146979,1.434400,4.699800,3.797317,0.377740
2221,station_7,2019-05-13,17.493750,28.831771,4.085104,933.753542,4.764830,7.950975,5.755677,0.827849
1910,station_7,2018-07-02,25.102917,55.709896,3.103229,927.369688,2.441183,5.009307,5.755677,0.424135
929,station_2,2019-04-28,9.891875,75.326875,1.372187,980.250000,0.439884,0.397317,5.883511,0.074766
2712,station_9,2019-01-15,-5.133542,20.705625,2.946458,1030.490208,1.417063,3.115832,3.797317,0.373175
1300,station_4,2018-12-20,-3.107917,48.903750,6.231875,883.944375,1.995700,1.920152,8.180375,0.243962
1543,station_5,2019-05-10,21.708333,37.783750,3.945833,984.945729,7.030221,5.370773,10.502804,0.669366
2490,station_8,2019-02-24,7.446562,36.429792,3.724896,960.794375,1.623260,3.553295,5.294833,0.306574
1346,station_4,2019-02-04,-2.750729,41.738854,4.460938,881.663333,4.505317,3.574292,8.180375,0.550747
232,station_0,2019-04-04,18.580417,25.684896,5.043229,1005.605104,1.313489,6.350335,1.677759,0.782883

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score

# Example: assume your target column is named 'daily_power_generated'
# If your actual column name is different — replace here
target_column = 'percentage_generated'

# === 1. Feature / Target split ===
X = daily_df.drop(columns=['date','station_id','station_max_power','daily_power_generated', target_column])
y = daily_df[target_column]

# === 2. Train-test split ===
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# === 3. Scale features ===
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# === 4. Train RandomForest ===
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

# === 5. Evaluate ===
y_pred = model.predict(X_test_scaled)

mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error (MAE): {mae:.3f}')
print(f'R² Score: {r2:.3f}')

Mean Absolute Error (MAE): 0.097
R² Score: 0.739

In [34]:
import requests
import pandas as pd

def get_open_meteo_forecast(lat, lon):
    # Variables
    daily_vars = [
        "shortwave_radiation_sum",
        "temperature_2m_mean",
        "relative_humidity_2m_mean",
        "wind_speed_10m_mean"
    ]
    hourly_vars = ["surface_pressure"]

    # Build URLs
    daily_url = (
        f"https://api.open-meteo.com/v1/forecast?"
        f"latitude={lat}&longitude={lon}&daily={','.join(daily_vars)}"
        "&timezone=auto"
    )

    hourly_url = (
        f"https://api.open-meteo.com/v1/forecast?"
        f"latitude={lat}&longitude={lon}&hourly={','.join(hourly_vars)}"
        "&timezone=auto"
    )

    # Fetch daily + hourly data
    daily_response = requests.get(daily_url)
    hourly_response = requests.get(hourly_url)

    if daily_response.status_code != 200 or hourly_response.status_code != 200:
        print("API error or bad response")
        return None

    daily_data = daily_response.json()['daily']
    hourly_data = hourly_response.json()['hourly']

    # Create daily DataFrame
    daily_df = pd.DataFrame({
        'date': pd.to_datetime(daily_data['time']),
        "daily_globalirrad_kwh": [x / 3.6 for x in daily_data["shortwave_radiation_sum"]],   # Already kWh/m²/day
        'daily_temperature_mean': daily_data['temperature_2m_mean'],       # °C
        'daily_humidity_mean': daily_data['relative_humidity_2m_mean'],    # %
        'daily_windspeed_mean': daily_data['wind_speed_10m_mean']          # m/s
    })

    # Create hourly DataFrame
    hourly_df = pd.DataFrame({
        'timestamp': pd.to_datetime(hourly_data['time']),
        'surface_pressure': hourly_data['surface_pressure']  # hPa
    })

    # Extract date and aggregate pressure
    hourly_df['date'] = hourly_df['timestamp'].dt.date
    pressure_df = hourly_df.groupby('date')['surface_pressure'].mean().reset_index()
    pressure_df.rename(columns={'surface_pressure': 'daily_pressure_mean'}, inplace=True)

    # Merge daily_df + pressure_df
    daily_df['date'] = daily_df['date'].dt.date
    merged_df = pd.merge(daily_df, pressure_df, on='date', how='inner')

    # Drop date (not needed for model)
    merged_df.drop(columns='date', inplace=True)

    expected_cols = scaler.feature_names_in_

    merged_df = merged_df[expected_cols]

    return merged_df

# Example usage
lat = 30.0444
lon = 31.2357

forecast_df = get_open_meteo_forecast(lat, lon)
print(forecast_df.head())

   daily_temperature_mean  daily_humidity_mean  daily_windspeed_mean  \
0                    30.2                   52                   6.7
1                    30.2                   49                   7.1
2                    30.1                   48                   6.1
3                    30.5                   54                   7.3
4                    29.9                   52                   7.9

   daily_pressure_mean  daily_globalirrad_kwh
0          1001.608333               8.244444
1          1000.058333               8.094444
2          1001.329167               8.163889
3          1003.787500               7.994444
4          1006.120833               8.013889

In [35]:
lat = 30.033  # Cairo
lon = 31.233

api_df = get_open_meteo_forecast(lat, lon)

if api_df is not None:
    X_scaled = scaler.transform(api_df)
    prediction = model.predict(X_scaled)
    print("Predicted percentage:", prediction[0])

Predicted percentage: 0.5032659629945139

In [36]:
api_df.head()

,daily_temperature_mean,daily_humidity_mean,daily_windspeed_mean,daily_pressure_mean,daily_globalirrad_kwh
0,30.2,52,6.7,1001.033333,8.244444
1,30.2,49,7.1,999.475000,8.094444
2,30.1,48,6.1,1000.745833,8.163889
3,30.4,54,7.3,1003.204167,7.994444
4,29.9,52,7.9,1005.554167,8.013889

In [37]:
import joblib

joblib.dump(model, 'model.pkl')
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']